/*login page styling*/
.header-link {
  padding-top : 15px;
}

.reg-title-note {
  font-family: 'Fira Code', monospace;
  font-size : 12px;
}

.reg-title-heading {
  font-family: 'Fira Code', monospace;
  font-size : 16px;
  color : #ccc;
}

.dotted {
  border-bottom : 1px dashed #ccc;
}
.code-font {
  font-family: 'Fira Code', monospace;
  font-size : 12px;
}

.script-font {
  font-family: font-family: 'Montserrat', sans-serif;
}

.chalkboard {
	height: 600px;
}

.tabbie-content {
	height: 470px;
}

.tabbie-content-top {
	height: 420px;
}
.tabbie-content-bottom {
	height: 30px;
	border-top: 1px dashed #ccc;
	padding: 10px;
}

.scrollStyle
{
    max-height: 650px;
    overflow-y: scroll;
}

.pagesList {
	height: 120px;
}

.pageTitle {
	font-size : 18px;
}

.profile-user-img {
  border: 1px solid #adb5bd;
  margin: 0 auto;
  padding: 3px;
  width: 100px;
}

.profile-username {
  font-size: 21px;
  margin-top: 5px;
}

.img-circle {
  border-radius: 50%;
}

a {
	color: #242424;
  transition-duration: 200ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  text-decoration: none;
}

a:hover, a:focus {
	color: #FEC329;
  transition-duration: 200ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  text-decoration: none;
}

.language-tab {
  padding : 10px;
}

.form-point {
  border-bottom : 1px solid #ccc;
}

.s-form-v1__input {
  color: #ccc;
  font-size: 0.875rem;
  font-weight: 300;
  border-bottom: 1px solid #ccc;
  border-right: none;
  box-shadow: none;
  letter-spacing: .1rem;
  padding: 10px 5px;
}

.s-form-v1__input::-webkit-input-placeholder {
  color: #ccc;
}

.s-form-v1__input::-moz-placeholder {
  color: #ccc;
}

.s-form-v1__input:-ms-input-placeholder {
  color: #fff;
}

.s-form-v1__input::placeholder {
  color: #ccc;
}

.s-form-v1__input:focus {
  height: 3.375rem;
  color: #ccc;
  font-size: 0.875rem;
  font-weight: 300;
  border-bottom: 1px solid #ccc;
  border-right: none;
  box-shadow: none;
  letter-spacing: .1rem;
  padding: 10px 5px;
}

.form-label {
  font-size: 12px;
}