<table class="table table-striped table-bordered table-sm">
  <thead>
    <tr>
      <th scope="col">Car Make</th>
      <th scope="col">Color</th>
      <th scope="col">Brand</th>
    </tr>
  </thead>
  <tbody>
{{#each cars}}
    <tr>
      <td>{{this.make}}</td>
      <td>{{this.color}}</td>
      <td>{{this.model}}</td>
    </tr>
{{/each}}  
  </tbody>
</table>